<div @ref="@BusyIndicatorRef" id="@_busyIndicatorID" data-br-component="@GlobalValues.Component_Name" class="@_busyClasses" data-br-style="@_styleAs" tabindex="-1">
    <span class="@CoreGlobalValues.CSS_Visually_Hidden_Class">@_indicatorLabel</span>
    <div class="@_busyContentClasses" aria-hidden="true">
        <div class="@GlobalValues.Busy_Spinner_Class"></div>
        @if (false == String.IsNullOrWhiteSpace(_busyText))
        {
            <div class="@GlobalValues.Busy_Text_Class">
                @BusyText
            </div>
        }
    </div>
</div>

@ChildContent
