<span id="@CoreGlobalValues.Live_Regions_ID" class="@CoreGlobalValues.Live_Regions_Class">
    <span id="@CoreGlobalValues.Live_Region_Polite_One_ID" aria-live="polite" ></span>
    <span id="@CoreGlobalValues.Live_Region_Polite_Two_ID" aria-live="polite"></span>
    <span id="@CoreGlobalValues.Live_Region_Assertive_One_ID" aria-live="assertive"></span>
    <span id="@CoreGlobalValues.Live_Region_Assertive_Two_ID" aria-live="assertive"></span>
</span>
