
<nav id="@GlobalValues.Main_Navigation_ID" class="main-navigation">
   <ul>
        <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Home" Match="NavLinkMatch.All">
                @GlobalValues.Title_Home_Screen
            </NavLink>
        </li>
        <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_About_Blazor_Ramp">
                @GlobalValues.Title_About_Blazor_Ramp
            </NavLink>
        </li>
       <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Busy_Screen">
                @GlobalValues.Title_Busy_Screen
           </NavLink>
        </li>
       <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Busy_Container">
                @GlobalValues.Title_Busy_Container
            </NavLink>
        </li>
       <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Modal_Busy_Screen">
                @GlobalValues.Title_Modal_Busy_Screen
            </NavLink>
       </li>
        <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Busy_Short">
                @GlobalValues.Title_Busy_Short
            </NavLink>
        </li>
        <li>
            <NavLink class="@GlobalValues.Main_Navigation_Link_Class" href="@GlobalValues.Path_Final_Words">
                @GlobalValues.Title_Final_Words
            </NavLink>
        </li>
   </ul>
</nav>